.wrap {
  width: 1920px;
  height: 1500px;
  margin: 0 auto;
}

.header {
    background-color: red;
    height: 50px;
    position: fixed;
    width: 1920px;
    z-index: 1;
    top:o;
  }
  
  .body {
    height: 1450px;
    position: relative;
    top: 50px;
  }

  .body .body__left {
    background-color: skyblue;
    color: white;
    padding: 50px;
    width: 1200px;
    height: 1300px;
    float: left;
    font-size: 35px;  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0.7;

  }

  .body .body__right {
    background-color: yellowgreen;
    margin: auto;
    padding: 20px;
    width: 545px;
    height: 1350px;
    float: left;
    border: 5px solid gray;
    z-index: 2;
    display: flex;
    flex: 0.3;
  }

  .square {
    width: 120px;
    height: 60px;
    background-color: #ffe94a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 530px;
    top: 20px;
    z-index: 3;
  }